# URL del sitio web (dominio oficial)
NEXT_PUBLIC_SITE_URL="https://www.interdocsmedical.com"

# Google Analytics 4
# Formato: G-XXXXXXXXXX (obtenlo en https://analytics.google.com -> Administrador -> Flujos de datos)
NEXT_PUBLIC_GA_MEASUREMENT_ID=""

# Google Search Console
# Pega aquí el código de verificación del método de etiqueta HTML (solo el valor del content="...")
# Ejemplo: si la etiqueta es <meta name="google-site-verification" content="abc123xyz" />, pon: abc123xyz
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION="O8MmK2CjH2smeBhp1Lga4FCl8QHVFNCt8VXLIUpryRw"
